/* general */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #222;
}

h1, h2, h3 {
    font-family: 'Miriam Libre', serif;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
    text-align: center;
    color: #de182c;
}

h2 {
    font-size: 3rem;
    margin: 0;
    color: #de182c;
}

.draggable {
    cursor: move;
}

.clickable {
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

/* layout */

#container {
    position: relative;
    width: 100%;
    max-width: 900px;
    padding-bottom: 75%;
    margin: 0 auto;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* tooltips */
#tooltip {
    position: absolute;
    padding: 1em;
    background-color: #fff;
}

#tooltip .row {
    display: block;
}

#tooltip .label {
    font-weight: bold;
}

/* stats */

#stats {
    width: 90%;
    max-width: 800px;
    margin: 0 auto 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2em;
    background-color: #eee;
}

#stats text {
    fill: #222;
    font: 12px 'Source Sans Pro';
}


/* override slider styling */

.irs {
    margin-top: 65px;
    margin-bottom: 3rem;
}

.irs-min, .irs-max {
    font-size: 1.5em;
    top: -17px;
}

.irs-single {
    font-size: 3em;
    top: -50px;
}
