/* general */

.draggable {
    cursor: move;
}

.clickable {
    cursor: pointer;
}


/* override slider styling */

.irs {
    margin-top: 65px;
}

.irs-min, .irs-max {
    font-size: 1.5em;
    top: -17px;
}

.irs-single {
    font-size: 3em;
    top: -50px;
}
